[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-cli-committers
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-cli-committers
	label-Verified = -1..+1 group ldap/hyperledger-gerrit-fabric-cli-committers
[access "refs/tags/*"]
	createTag = group ldap/hyperledger-gerrit-fabric-cli-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-cli-committers
	push = group ldap/hyperledger-gerrit-fabric-cli-committers
