[project]
	description = Hyperledger Fabric CLI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-cli-committers
	owner = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-cli-committers
	create = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group ldap/hyperledger-gerrit-fabric-cli-committers
	label-Verified = -1..+1 group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-cli-committers
	push = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	createTag = group ldap/hyperledger-gerrit-fabric-cli-committers
	createTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-cli-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
[label "Verified"]
	function = NoBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	defaultValue = 0
[label "F1-VerifyBuild"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "F2-DocBuild"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "F2-SmokeTest"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "F3-IntegrationTest"]
        function = MaxWithBlock
        value = -1 Fails
        value =  0 No score
        value = +1 Verified
        copyAllScoresOnTrivialRebase = true
        copyAllScoresIfNoCodeChange = true
        defaultValue = 0
[label "F3-UnitTest"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[plugin "its-jira"]
	enabled = true
