[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-cli-committers
	owner = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-cli-committers
	create = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	label-Verified = -1..+1 group ldap/hyperledger-gerrit-fabric-cli-committers
	label-Verified = -1..+1 group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
[access "refs/tags/*"]
	createTag = group ldap/hyperledger-gerrit-fabric-cli-committers
	createTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-cli-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
	push = group ldap/hyperledger-gerrit-fabric-cli-committers
	push = group ldap/hyperledger-gerrit-fabric-release-maintainers-committers
